/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */



.boton {-fx-background-color: #ff8800;
	-fx-text-fill: light-orange;
}
.boton:hover {-fx-background-color: rgb(128.0,77.0,128.0);
			-fx-text-fill: white;
}

.boton{
	-fx-effect: dropshadow(three-pass-box, purple, 10.0, 0.0, 0.0, 0.0);
}

.cuenta:hover{
	
	-fx-text-fill: rgb(0.0,0.0,255.0);
}